[submodule "modules-github/python"]
	path = modules-github/python
	url = https://github.com/stankevich/puppet-python.git
[submodule "modules-github/stdlib"]
	path = modules-github/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
